<div class="blog-post" id="<%= article.id %>">
  <h3 class="blog-post-title"><%= article.title %></h3>
  <p class="blog-post-meta pull-right"><%= article.created_at %></p>
  <p class="contenido"><%= article.content %></p>
  <p class="blog-post-comments">
    <%= article.comments.count %> Comentarios
  </p>
  <%= link_to 'Ver', article_path(article), class: "btn btn-default" %>
  <%= link_to 'Editar', edit_article_path(article), remote: true, class: "btn btn-default" %>
  <%= link_to 'Eliminar', article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div><hr>