
<div class="container show-view">
  <%= link_to 'Atras', articles_path, class: "btn btn-default" %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 blog-main" id="post_list">
      <div class="blog-post">
      <h2 class="blog-post-title"><%= @article.title %></h2>
      <p class="blog-post-meta"><%= @article.created_at %>
      <p class="contenido"><%= @article.content %></p>
      
      <%= link_to 'Editar', edit_article_path(@article), class: "btn btn-default" %>
      <%= link_to 'Eliminar', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>

    </div>
  </div>
</div>